<div class="about-principles">
    <div class="container">
        <div class="about-principles__content">
            <div class="about-principles__content__left-side">
                <ul class="about-principles__menu">
                    <li class="about-principles__item active">
                        <a href="javascript:void(0);" class="about-principles__link" data-tab="1">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.62911 26.3709C4.39683 25.1387 4.0433 23.259 4.42976 20.7926C2.41251 19.3219 1.33334 17.7428 1.33334 16C1.33334 14.2573 2.41251 12.6782 4.42976 11.2075C4.0433 8.74113 4.39683 6.86142 5.62911 5.62914C6.86139 4.39686 8.7411 4.04333 11.2075 4.42979C12.6782 2.41254 14.2573 1.33337 16 1.33337C17.7427 1.33337 19.3219 2.41254 20.7926 4.42979C23.2589 4.04333 25.1386 4.39686 26.3709 5.62914C27.6032 6.86142 27.9567 8.74113 27.5703 11.2075C29.5875 12.6782 30.6667 14.2573 30.6667 16C30.6667 17.7428 29.5875 19.3219 27.5703 20.7926C27.9567 23.259 27.6032 25.1387 26.3709 26.3709C25.1386 27.6032 23.2589 27.9567 20.7926 27.5703C19.3219 29.5875 17.7427 30.6667 16 30.6667C14.2573 30.6667 12.6782 29.5875 11.2075 27.5703C8.7411 27.9567 6.86139 27.6032 5.62911 26.3709ZM11.5368 24.7974C12.078 24.6814 12.6346 24.912 12.9353 25.3767C14.1097 27.1911 15.1569 28 16 28C16.8432 28 17.8903 27.1911 19.0647 25.3767C19.3654 24.912 19.922 24.6814 20.4632 24.7974C22.5766 25.25 23.8891 25.0815 24.4853 24.4853C25.0815 23.8891 25.2499 22.5766 24.7973 20.4633C24.6814 19.922 24.912 19.3655 25.3766 19.0647C27.1911 17.8904 28 16.8432 28 16C28 15.1569 27.1911 14.1097 25.3766 12.9354C24.912 12.6346 24.6814 12.0781 24.7973 11.5368C25.2499 9.42344 25.0815 8.11096 24.4853 7.51476C23.8891 6.91856 22.5766 6.75012 20.4632 7.20273C19.922 7.31864 19.3654 7.0881 19.0647 6.62343C17.8903 4.809 16.8432 4.00004 16 4.00004C15.1569 4.00004 14.1097 4.809 12.9353 6.62343C12.6346 7.0881 12.078 7.31864 11.5368 7.20273C9.42341 6.75012 8.11093 6.91856 7.51473 7.51476C6.91853 8.11096 6.75009 9.42344 7.2027 11.5368C7.31861 12.0781 7.08807 12.6346 6.6234 12.9354C4.80897 14.1097 4.00001 15.1569 4.00001 16C4.00001 16.8432 4.80897 17.8904 6.6234 19.0647C7.08807 19.3655 7.31861 19.922 7.2027 20.4633C6.75009 22.5766 6.91853 23.8891 7.51473 24.4853C8.11093 25.0815 9.42341 25.25 11.5368 24.7974ZM20.3906 11.0572L14.6667 16.7811L11.6095 13.7239L9.72389 15.6095L14.6667 20.5523L22.2762 12.9429L20.3906 11.0572Z" fill="white"/>
                            </svg>
                            Наивысшее качество
                        </a>
                    </li>
                    <li class="about-principles__item">
                        <a href="javascript:void(0);" class="about-principles__link" data-tab="2">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.22586 20.0001H12V30.4678L26.7742 12.0001H20V1.53235L5.22586 20.0001ZM14.6667 17.3334H10.7742L17.3333 9.13442V14.6667H21.2258L14.6667 22.8657V17.3334Z" fill="#1388F7"/>
                            </svg>


                            Эффективность
                        </a>
                    </li>
                    <li class="about-principles__item">
                        <a href="javascript:void(0);" class="about-principles__link" data-tab="3">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16 30.6667C7.89983 30.6667 1.33334 24.1002 1.33334 16C1.33334 7.89986 7.89983 1.33337 16 1.33337C24.1002 1.33337 30.6667 7.89986 30.6667 16C30.6667 24.1002 24.1002 30.6667 16 30.6667ZM16 28C22.6274 28 28 22.6275 28 16C28 9.37262 22.6274 4.00004 16 4.00004C9.37259 4.00004 4.00001 9.37262 4.00001 16C4.00001 22.6275 9.37259 28 16 28ZM22.5474 20.5979L20.3662 19.0638C19.3724 20.4768 17.7593 21.3334 16 21.3334C14.2406 21.3334 12.6276 20.4768 11.6338 19.0638L9.45257 20.5979C10.9406 22.7136 13.3632 24 16 24C18.6367 24 21.0594 22.7136 22.5474 20.5979ZM18.6667 14.6667V12H21.3333V14.6667H18.6667ZM10.6667 12V14.6667H13.3333V12H10.6667Z" fill="#1388F7"/>
                            </svg>


                            Заботливое отношение
                        </a>
                    </li>
                    <li class="about-principles__item">
                        <a href="javascript:void(0);" class="about-principles__link" data-tab="4">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.3333 24C7.44229 24 2.66666 19.2243 2.66666 13.3333C2.66666 7.44226 7.44229 2.66663 13.3333 2.66663C19.2244 2.66663 24 7.44226 24 13.3333C24 15.7982 23.1639 18.0679 21.7598 19.8742L28.9428 27.0572L27.0572 28.9428L19.8742 21.7598C18.0679 23.1639 15.7983 24 13.3333 24ZM21.3333 13.3333C21.3333 17.7516 17.7516 21.3333 13.3333 21.3333C8.91505 21.3333 5.33332 17.7516 5.33332 13.3333C5.33332 8.91501 8.91505 5.33329 13.3333 5.33329C17.7516 5.33329 21.3333 8.91501 21.3333 13.3333Z" fill="#1388F7"/>
                            </svg>


                            Внимание к деталям
                        </a>
                    </li>
                    <li class="about-principles__item">
                        <a href="javascript:void(0);" class="about-principles__link" data-tab="5">

                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M22.071 2.66665C20.1408 2.66662 18.8965 2.89658 17.4702 3.59472C16.9421 3.8532 16.4467 4.16448 15.9866 4.52764C15.5443 4.18484 15.0686 3.88785 14.5624 3.63747C13.1084 2.91833 11.8004 2.66663 9.9394 2.66663C4.95526 2.66663 1.33334 6.79632 1.33334 12.1598C1.33334 16.2103 3.59179 20.123 7.79846 23.9065C10.0065 25.8924 12.8258 27.8577 14.8448 28.9033L16 29.5015L17.1552 28.9033C19.1742 27.8577 21.9935 25.8924 24.2016 23.9065C28.4082 20.123 30.6667 16.2103 30.6667 12.1598C30.6667 6.85309 27.0106 2.6871 22.071 2.66665ZM28 12.1598C28 15.3332 26.1149 18.599 22.4183 21.9238C20.4029 23.7364 17.812 25.5479 16 26.4982C14.1881 25.5479 11.5971 23.7364 9.58171 21.9238C5.88511 18.599 4.00001 15.3332 4.00001 12.1598C4.00001 8.19692 6.51153 5.33329 9.9394 5.33329C11.4191 5.33329 12.3308 5.50874 13.3802 6.02775C14 6.33432 14.5478 6.73912 15.0221 7.24499L16.0031 8.29156L16.9753 7.23669C17.4601 6.71056 18.016 6.29654 18.6426 5.98986C19.6612 5.49128 20.516 5.33329 22.0655 5.3333C25.451 5.34733 28 8.25191 28 12.1598Z" fill="#1388F7"/>
                            </svg>

                            Любовь к работе
                        </a>
                    </li>
                    <li class="about-principles__item">
                        <a href="javascript:void(0);" class="about-principles__link" data-tab="6">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M20.6007 1.87026C22.0168 1.46566 23.4928 2.28564 23.8974 3.70173C23.9655 3.93998 24 4.18654 24 4.43432V6.66669H26.6667C28.1394 6.66669 29.3333 7.86059 29.3333 9.33335V25.3334C29.3333 26.8061 28.1394 28 26.6667 28H5.33332C3.86056 28 2.66666 26.8061 2.66666 25.3334H2.70226C2.67859 25.19 2.66666 25.0447 2.66666 24.899V9.00575C2.66666 7.81513 3.45593 6.76877 4.60073 6.44169L20.6007 1.87026ZM13.52 25.3334H26.6667V14.6667H24V20.3276C24 21.5182 23.2107 22.5646 22.0659 22.8917L13.52 25.3334ZM26.6667 9.33335V12H24V9.33335H26.6667ZM5.33332 9.00571V24.899L21.3333 20.3276V4.43429L5.33332 9.00571ZM18.6667 12C18.6667 12.7364 18.0697 13.3334 17.3333 13.3334C16.5969 13.3334 16 12.7364 16 12C16 11.2636 16.5969 10.6667 17.3333 10.6667C18.0697 10.6667 18.6667 11.2636 18.6667 12Z" fill="#1388F7"/>
                            </svg>


                            Честная цена
                        </a>
                    </li>
                </ul>
            </div>
            <div class="about-principles__content__right-side">
                <div class="about-principles__tab" data-tab="1" style="display: block">
                    <h2 class="h3 about-principles__title">[[#44.pagetitle]]</h2>
                    <div class="about-principles__info">
                        [[#44.content]]
                    </div>
                </div>
                <div class="about-principles__tab" data-tab="2">
                    <h2 class="h3 about-principles__title">[[#45.pagetitle]]</h2>
                    <div class="about-principles__info">
                        [[#45.content]]
                    </div>
                </div>
                <div class="about-principles__tab" data-tab="3">
                    <h2 class="h3 about-principles__title">[[#46.pagetitle]]</h2>
                    <div class="about-principles__info">
                        [[#46.content]]
                    </div>
                </div>
                <div class="about-principles__tab" data-tab="4">
                    <h2 class="h3 about-principles__title">[[#47.pagetitle]]</h2>
                    <div class="about-principles__info">
                        [[#47.content]]
                    </div>
                </div>
                <div class="about-principles__tab" data-tab="5">
                    <h2 class="h3 about-principles__title">[[#48.pagetitle]]</h2>
                    <div class="about-principles__info">
                        [[#48.content]]
                    </div>
                </div>
                <div class="about-principles__tab" data-tab="6">
                    <h2 class="h3 about-principles__title">[[#49.pagetitle]]</h2>
                    <div class="about-principles__info">
                        [[#49.content]]
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>