.social__close svg,
.seminar__close svg {
    position: relative;
    top: 2px;
}

/* Форма семинара */

.seminar {
    width: 700px;
    background-color: #fff;
    background-image: url(../images/gift.png);
    background-repeat: no-repeat;
    background-position: right 50px top 52px;
    padding: 30px;
    position: relative;
    border-radius: 7px;
}

.seminar__close {
    background: #D7D7D7;
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 32px;
    top: 20px;
    right: 20px;
}

.seminar__date {
    margin-bottom: 16px;
    color: #e50931;
    font-size: 16px;
}

.seminar__title {
    width: 340px;
    color: #0032BA;
    line-height: 31px;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 16px;
}

.seminar__signature {
    width: 235px;
    color: #0032BA;
    font-weight: 300;
    line-height: 23px;
    font-size: 16px;
    margin-bottom: 15px;
}

.seminar__links.flex {
    justify-content: flex-start;
}

.seminar__links_more {
    display: inline-block;
    cursor: pointer;
    background: #E50931;
    border: 1px solid #E50931;
    border-radius: 20px;
    transition: all ease 0.3s;
    width: 146px;
    text-align: center;
    line-height: 34px;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    margin-right: 16px;
}

.seminar__links_more:hover {
    background: transparent;
    color: #E50931;
}

.seminar__links_free {
    color: #E50931;
    font-size: 12px;
    text-decoration: none;
}
@media screen and (max-width: 850px) {
    .seminar {
        width: 300px;
        background-image: none;
        padding-left: 20px;
        padding-right: 20px;
    }

    .seminar__title {
        width: 100%;
    }

    .seminar__signature {
        width: 100%;
        margin-bottom: 25px;
    }

}