.events__outer{
    flex-basis: 100%;
    max-width: 100%;
}

.events{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 50px;
}

.events--sidebar{
    margin-top: 0px;
    display: block;
}

@media(min-width: 959px) and (max-width: 1279px){
    .events--sidebar{
        display: flex;
        align-items: stretch;
    }
}

.events__item{
    flex: 0 0 41%;
    border: 2px solid #F1F6FF;
    background-color: #fff;
    padding: 50px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 43%;
    margin-bottom: 8px;
}

.events__item--sidebar{
    flex: 0 0 100%;
    padding: 3.4rem 3rem 3.6rem;
    padding-right: 7rem;
    border-width: 0px;
    background-size: 50%;
}

@media (max-width: 1550px) {
    .events__item{
        flex: 0 0 39%;
    }
}


@media (max-width: 1700px) {
    .events__item--sidebar{
        padding-right: 3rem;
    }
}

@media(max-width: 1366px){
    .events__item{
        flex: 0 0 42%;
        padding: 30px;
    }
}

@media(max-width: 1024px){
    .events__item{
        flex: 0 0 40%;
        padding: 30px;
    }
    .events__item--sidebar{
        padding-right: 9rem;
    }
}

@media(min-width: 959px) and (max-width: 1279px) {
    .events__item--sidebar{
        margin-bottom: 2%;
        padding-right: 4%;
        flex: 0 0 42%;
    }
}

@media(min-width: 760px){
    .events__item{
        min-height: 280px;
    }
}

@media(max-width: 760px){
    .events__item{
        flex: 0 0 90%;
        padding: 30px;
    }
    .events__item--sidebar{
        padding-right: 9rem;
    }
}

@media(max-width: 560px){
    .events__item{
        flex: 0 0 80%;
        padding: 30px;
    }
}

.events__info{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 2px;
}

.events__descr{
    margin-top: 8px;
}

.events__item-type{
    display: inline-block;
    padding: 3px 8px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: .15em;
    font-family: MontserratMedium, sans-serif;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.events__item-type--blue-type{
    background-color: #1388F7;
}

.events__item-type--red-type{
    background-color: #FF1C37;
}

.events__item-type--orange-type{
    background-color: #ff701c;
}

.events__item--date{
    margin-left: 18px;
    font-family: MontserratMedium, sans-serif;
    font-size: 15px;
    line-height: 23px;
    font-weight: 500;
    color: #1388F7;
}
@media(max-width: 1500px){
    .events__item--date{
        margin-top: 10px;
        margin-left: 0px;
        display: block;
        flex: 0 0 100%;
    }
}

.events__item--title{
    font-family: MontserratSemiBold, sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    max-width: 80%;
    color: #002766;
}

@media (max-width: 1500px) {
    .events__item--title{
        max-width: 85%;
    }
}

@media(max-width: 1024px){
    .events__item--title{
        max-width: 97%;
    }
}

.events__item--subtitle{
    font-size: 16px;
    line-height: 23px;
    color: #002766;
    max-width: 80%;
    margin-top: 15px;
}

.events__item-link{
    display: inline-block;
    font-family: MontserratMedium, sans-serif;
    font-size: 16px;
    line-height: 23px;
    font-weight: 500;
    color: #1388F7;
    margin-top: 3.2rem;
}