.inline-block{
    position: relative;
    overflow: initial;
    background-color: #1388f7;
}

.inline-block__label{
    position: absolute;
    top: 9%;
    right: 9%;
    border-radius: 2px;
    padding: 20px 30px;
    z-index: 9954;
    color: #fff;
    font-weight: 700;
}

@media(max-width: 850px){
    .inline-block__label{
        position: initial;
        padding: 0px;
    }
}

@media(min-width: 980px) and (max-width: 1600px){
    .inline-block__label{
        right: 6%;
    }
}
@media(min-width: 850px) and (max-width: 980px){
    .inline-block__label{
        right: 5%;
    }
}

.inline-block__content{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 3em;
    color: white;
    max-width: 60%;
}

@media (max-width: 850px) {
    .inline-block__content{
        width: 100%;
        max-width: 100%;
        padding: 50px 30px;
    }
}

.inline-block__title{
    flex: 0 0 100%;
    margin-bottom: 30px;
    font-size: 38px;
}

@media (max-width: 850px) {
    .inline-block__title{
        font-size: 24px;
    }
}

.inline-block__subtitle{
    flex: 0 0 100%;
    margin-bottom: 20px;
}

@media (max-width: 850px) {
    .inline-block__subtitle{
        font-size: 20px;
    }
}


.inline-block__descr{
    width: 80%;
}

.inline-block__btn{
    margin-top: 30px;
    border-radius: 56px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .02em;
    color: #1388f7;
    padding: 18px 35px;
    text-align: center;
    border: none;
    font-weight: bold;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    background: #fff;
}

.inline-block__overlay-ribbon {
    position: absolute;
    height: 9em;
    width: 250px;
    background: #f33a3a;
    padding: 5px 0;
    right: 20%;
    top: -150%;
    -webkit-box-shadow: -5px 21px 28px -4px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: -5px 21px 28px -4px rgba(0, 0, 0, 0.13);
    box-shadow: -5px 21px 28px -4px rgba(0, 0, 0, 0.13);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 2px;
}

@media(max-width: 850px){
    .inline-block__overlay-ribbon {
        position: initial;
        width: 100%;
        height: auto;
        padding: 10px 0px   ;
    }
}

.inline-block__ribbon-content {
    padding: 20px 0 20px;
    border-width: 1px 0px!important;
    border-style: dashed;
    border-color: #fff;
    margin-top: 20px;
}

@media(max-width: 850px){
    .inline-block__ribbon-content {
        padding: 10px 0px;
        margin-top: 0px;
    }
}

.inline-block__ribbon-content h3 {
    margin: 0;
    padding: 5px 0 5px 0;
    line-height: 16px;
    text-align: center;
}

.inline-block__ribbon-content > p,
.inline-block__ribbon-content > p span {
    color: #24505a;
    margin: 0;
    padding: 0;
}

.inline-block__ribbon-content p span {
    display: block;
}

.inline-block__overlay-ribbon:before {
    content: "";
    position: absolute;
    bottom: -3.3em;
    left: 0;
    width: 0;
    height: 0;
    border-top: 4em solid #f33a3a;
    border-right: 10em solid transparent;
    z-index: 997;
}

.inline-block__overlay-ribbon:after {
    content: "";
    position: absolute;
    bottom: -3.3em;
    right: 0;
    width: 0;
    height: 0;
    border-top: 4em solid #f33a3a;
    border-left: 10em solid transparent;
    z-index: 998;
}

@media (max-width: 850px) {
    .inline-block__overlay-ribbon:before,.inline-block__overlay-ribbon:after {
        content: none;
    }
}

.inline-block__ribbon-title{
    color: white;
    text-align: center;
    font-size: 28px;
}

.inline-block__ribbon-title--small{
    font-size: 24px;
}