.list-benefits-text ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 1rem;
    max-width: 765px;
}

.list-benefits-text ul li{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: -webkit-calc(100% - 44px);
    width: calc(100% - 44px);
    background-color: #f1f6ff;
    border-left: 2px solid #ff1c37;
    font-size: 14px;
    line-height: 17px;
    color: #002766;
    font-family: MontserratMedium,sans-serif;
    font-weight: 500;
    padding: 0 22px;
    margin-bottom: 8px;
    min-height: 64px;
}