@media print{
    body{
        padding: 0px;
    }
    *{
        background: white;
    }
    header{
        display: none;
    }
    footer{
        display: none;
    }
    .service-main-menu{
        display: none;
    }

    .left-side-menu{
        display: none;
    }

    .left-side-type .left-side-content{
        width: 100%;
        max-width: 100%;
        flex-basis: 100%;
        margin: 30px 0px;
    }

    .article-main__content__left-side .main-content__top{
        width: 100%;
        max-width: 100%;
    }

    .article-main__breadcrumbs-block{
        display: none;
    }

    .article-main__content__right-side{
        display: none;
    }
    
    .cases-slider{
        display: none;
    }
    .article-discounts{
        display: none;
    }

    .main-content__bottom{
        display: none!important;
    }

    .article-main__content__left-side{
        max-width: 100%;
        width: 100%;
        margin: auto;
        flex-basis: 100%;
    }

    .article-main__content__left-side .main-content{
        padding: 0px;
    }

    .article-main__content__left-side .main-content__info{
        max-width: 100%;
        width: 100%;
    }
}

.print-header{
    display: none;
}

@media print{
    .print-header{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .print-header__logo{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        flex: 0 0 40%;
    }

    .print-header__logo-image{
        flex: 0 0 60%;
    }

    .print-header__logo-text{
        flex: 0 0 40%;
    }

    .print-header__contacts p{
        display: block;
        text-decoration: none;
        color:black;
        margin-bottom: 10px;
    }
}

.print-footer{
    display: none;
    visibility: hidden;
}

@media print{
    .print-footer{
        visibility: visible;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }
}
@media print{
    .article-main__content__left-side .main-content__info p{
        margin-bottom: 10px;
        font-size: 14px;
    }
}