/*новые стили для меню в шапке сайта
Прочие стили ищите в main.css и style.css. Чтоб того верстальщика, кто сделал это*/

.service-menu-block__subcat-outer{
    position: relative;
}

.service-menu__subcat-item{
    color: white!important;
    border-bottom: 1px dashed white;
    padding-bottom: 5px;
}

.service-menu-block__subcat-outer ul{
    display: none;
    padding-left: 15px!important;
}

@media(max-width: 1024px){
    .service-menu-block__subcat-outer ul{
        background: #012241;
    }
}

@media(min-width: 1024px){
    .service-menu-block__subcat-outer ul{
        padding-left: 0px!important;
        margin-top: 15px!important;
        margin-bottom: 15px!important;
        border-bottom: 1px dashed #798daf;
    }
}

.service-menu__subcat-item:after {
    content: '';
    display: inline-block;
    content: "\e900";
    font-family: icomoon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    position: relative;
    margin-left: 4px;
    opacity: .9!important;
    top: 2px;
    transition: 0.3s ease all;
}

.service-menu__subcat-item--active:after{
    -webkit-transform: scale(1,-1);
    -ms-transform: scale(1,-1);
    transform: scale(1,-1);
}