.service-main__content__right-side{
    display: flex;
    flex-direction: column;
}

.service-header__right-block{
    background: #e7f2ff;
    flex: 1;
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 20px;
}

.service-header__right-block-inner{
    background-size: auto;
    background-repeat: no-repeat;
    overflow: hidden;
    min-height: 280px;
    background-position: bottom right;
    padding: 0px 30px 0;
}

@media (min-width: 980px) {
    .service-header__right-block-inner {
        height: 100%;
    }
}

@media (min-width: 680px) {
    .service-header__right-block-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

@media (max-width: 980px) and (orientation: landscape) {
    .service-header__right-block-inner{
        min-height: 55vh;
    }
}

@media (max-width: 980px) and (orientation: portrait){
    .service-header__right-block-inner{
        min-height: 33.3vh;
    }
}

@media (max-width: 680px) and (orientation: portrait) {
    .service-header__right-block-inner{
        background-image: none!important;
    }
}

@media (max-width: 680px) and (orientation: landscape) {
    .service-header__right-block-inner{
        background-size: auto;
        min-height: 50vh;
    }
}

@media (max-width: 680px) and (orientation: portrait) {
    .service-header__right-block-inner{
        background-size: 47%;
    }
}

@media (max-width: 330px){
    .service-header__right-block-inner{
        background-size: 35%;
    }
}

.service-header__right-block-header--blue{
    color: #002766
}

.service-header__right-block-header--white{
    color: white;
}

.service-header__right-block-inner .video-link-modal{
    position: absolute;
    top: 17%;
    left: -6%;
}

@media (max-width: 1240px) and (min-width: 700px){
    .service-header__right-block-inner .video-link-modal::before{
        top: -webkit-calc(44% - 49px);
        left: calc(44% - 49px);
    }
}

@media (max-width: 1100px) and (min-width: 1000px){
    .service-header__right-block-inner .video-link-modal::before{
        top: -webkit-calc(44% - 49px);
        left: calc(44% - 31px);
    }
}

@media (max-width: 980px) and (orientation: landscape) {
    .service-header__right-block-inner .video-link-modal{
        top: 10%;
        left: -6%;
    }
}

@media (max-width: 680px) and (orientation: landscape) {
    .service-header__right-block-inner .video-link-modal{
        top: -30%;
        left: 0%;
    }
}

@media (max-width: 680px) and (orientation: portrait) {
    .service-header__right-block-inner .video-link-modal{
        top: -10%;
        left: 5%;
    }
}

@media (max-width: 680px){
    .service-header__right-block-inner .video-link-modal::before{
        top: -webkit-calc(50% - 48px);
        top: -webkit-calc(50% - 48px);
        left: calc(50% - 48px);
        left: -webkit-calc(50% - 48px);
        width: 60px;
        height: 60px;
    }

    .service-header__right-block-inner .video-link-modal::after{
        min-width: 40px;
        width: 40px;
        height: 42px;
        font-size: 20px;
    }
}

.service-header__right-block-header{
    font-size: 26px;
    font-weight: bold;
    width: 76%;
    margin-bottom: 36px;
}

@media (min-width: 1024px) and (max-width: 1500px){
    .service-header__right-block-header{
        font-size: 23px;
        width: 90%;
    }
}

@media (max-width: 1400px) and (min-width: 1100px) {
    .service-header__right-block-header{
        width: 68%;
    }
}

@media (max-width: 680px){
    .service-header__right-block-header{
        font-size: 16px;
        width: 80%;
    }
}

.service-header__right-block-descr{
    font-size: 16px;
    width: 70%;
    line-height: 23px;
    margin-bottom: 35px;
}

@media (min-width: 1024px) and (max-width: 1500px){
    .service-header__right-block-descr{
        font-size: 14px;
        width: 56%;
    }
}

@media (max-width: 680px){
    .service-header__right-block-descr{
        font-size: 12px;
        width: 90%;
    }
}

.service-header__right-block-descr--video{
    font-size: 18px;
}

@media (max-width: 680px){
    .service-header__right-block-descr--video{
        font-size: 12px;
    }
}

.service-header__links{
    margin-bottom: 30px;
}

.service-header__links a{
    display: inline-block;
    margin-right: 25px;
    padding-bottom: 2px;
}

.service-header__links a span {
    border-bottom: 1px solid white;
}

@media (max-width: 1780px){
    .service-header__links a{
        display: block;
        margin-bottom: 10px;
    }
}


@media (max-width: 680px){
    .service-header__links a{
        display: block;
        margin-bottom: 10px;
    }
}

@media (max-width: 320px){
    .service-header__links a{
        font-size: 12px;
    }
}

.service-header__links--blue a, .service-header__links--blue a span{
    color: #1288f7;
    border-color: #1288f7;
}

.service-header__links--white a, .service-header__links--white a span{
    color: white;
    border-color: white;
}

.service-header-video-link-bg{
    width: 80%;
    margin: auto;
    padding: 100px 50px;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 575px){
    .service-header-video-link-bg{
        width: 83%;
        margin: auto;
        padding: 16% 3%;
        background-size: contain;
    }
}


.service-header-video-link-bg .video-link p{
    margin-top: 8rem;
}

@media (max-width: 1240px) and (min-width: 700px){
    .service-main__content__right-side .video-link p {
        margin-top: 0;
        top: 13.5rem;
    }
}

@media (max-width: 680px) and (orientation: landscape){
    .service-main__content__right-side .video-link p {
        margin-top: 0;
        position: absolute;
        left: 20%;
        top: 16rem!important;
    }
}

@media (max-width: 575px){
    .service-main__content__right-side .video-link p {
        margin-top: 0;
        position: absolute;
        top: 11.5rem;
    }
}

@media (max-width: 400px){
    .service-main__content__right-side .video-link p {
        font-size: 17px!important;
        top: 11rem!important;
    }
}


.service-header-video-link-bg .video-link::before{
    top: -webkit-calc(50% - 100px);
    top: calc(50% - 100px);
}

.service-header-video-link-bg .video-link::after{
    top: -webkit-calc(50% - 89px);
    top: calc(50% - 89px);
}
