.spec-offer{
    color: #fff;
    padding-top: 3.8rem;
    padding-left: 8.5%;
    padding-right: 10%;
    padding-bottom: 3.8rem;
}

.spec-offer__form-title{
    color: #fff;
    font-size: 17px;
    line-height: 27px;
    margin-top: 1.5rem;
}

.spec-offer__input-group{
    margin-bottom: 35px;
    margin-top: 30px;
    position: relative;
}

.spec-offer__input{
    display: block;
    width: 100%;
    background-color: transparent;
    color: transparent;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .04em;
    border-bottom: 1px solid rgba(255,255,255,.5);
    max-width: 542px;
    width: 100%;
    padding: 5px 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.spec-offer__input:focus {
    border-bottom: 1px solid #fff;
    color: #fff;
}

.spec-offer__label{
    display: block;
    width: 100%;
    color: #fff;
    opacity: .5;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 3px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    position: absolute;
    bottom: 5px;
    cursor: text;
}

.spec-offer__input:focus + label{
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    cursor: default;
}

.spec-offer__policy{
    display: block;
    max-width: 356px;
    color: #fff;
    font-size: 12px;
    line-height: 19px;
    opacity: .6;
    margin-top: 1rem;
}