.subscribe-modal {
    position: fixed;
    z-index: 5489;
    width: 500px;
    padding: 20px 30px;
    background: white;
    bottom: 6px;
    right: 12px;
    -webkit-box-shadow: 1px -1px 3px 0px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 1px -1px 3px 0px rgba(0, 0, 0, 0.48);
    box-shadow: 1px -1px 3px 0px rgba(0, 0, 0, 0.48);
    transition: 0.5s ease all;
    transform: translate3d(0, 100vh, 0);
    background-image: url('/assets/tpl/images/envelope.png');
    background-repeat: no-repeat;
    background-position: right;
}

@media(max-width: 960px){
    .subscribe-modal {
        width: 75%;
    }
}

.subscribe-modal--visible{
    transform: translate3d(0, 0vh, 0);
}

.subscribe-modal__close{
    position: absolute;
    right: 24px;
    font-style: normal;
    font-size: 24px;
    top: 17px;
    cursor: pointer;
}

.subscribe-modal__title {
    font-family: MontserratMedium, sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: #002766;
    margin-bottom: 10px;
    width: 70%;
}

.subscribe-modal__text {
    font-size: 14px;
    line-height: 20px;
    color: #3a475e;
    font-weight: 400;
    margin-bottom: 10px;
    width: 70%;
}

.subscribe-modal__input {
    display: block;
    width: 70%;
    background-color: transparent;
    color: transparent;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .04em;
    border-bottom: 1px solid #1388f7;
    padding: 5px 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    position: relative;
    z-index: 551;
}

.subscribe-modal__input:focus {
    border-bottom: 1px solid #1388f7;
    color: #1388f7;
}

.subscribe-modal__button {
    padding: 9px;
    font-size: 16px;
}

.subscribe-modal__input-group {
    position: relative;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.subscribe-modal__input-group label {
    display: block;
    width: 100%;
    color: #002766;
    opacity: .5;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 5px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    cursor: text;
    position: absolute;
    bottom: 20px;
    z-index: 545;
}


.subscribe-modal__input:focus + label {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    cursor: default;
}